<form class="form-horizontal" role="form" ng-submit="addClass()">
    <div class="form-group">
        <label for="name">Student Name</label>
        <select id="name" class="form-control" data-ng-model="studentSelected"
                data-ng-change="getClasses()"
                data-ng-options="student as student.name for student in students track by student.id"></select>
    </div>
    <div class="form-group">
        <label for="date">Class Date</label>
        <select id="date" class="form-control" data-ng-model="classSelected"
                data-ng-options="item as item.date for item in classes"></select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add Class</button>
        </div>
    </div>
</form>