<h2>Display Medals </h2>

<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th ng-repeat="class in classes">
            {{class.date}}
        </th>
    </tr>
    <tr class="success-{{medal.classes}}" ng-repeat="to in students">
        <td>{{$index+1}}</td>
        <td>
            {{to.student.name}}
        </td>
        <td ng-repeat="class in classes">
            <div ng-show="{{to.classMedalAmountMap[class.id]}}">
                <img src="image/medal.jpg" style="width:35px;height:35px;"> x {{to.classMedalAmountMap[class.id]}}
            </div>
        </td>
    </tr>
</table>