<h2>All Medals <a class="btn btn-primary pull-right" href="#/medals/display"><i
        class="icon-plus-sign icon-white"></i> Display medals</a></h2>

<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Amounts of Medals
        </th>
    </tr>
    <tr class="success-{{medal.classes}}" ng-repeat="medal in medals">
        <td>{{$index+1}}</td>
        <td>
            {{medal.studentName}}
        </td>
        <td>
            {{medal.amount}}
        </td>
    </tr>
</table>